.container-fluid
{
        background-color: #f5ec9d;
        padding: 1%;
        height: 10em;
 }
#header-nav
{
    border-radius: 0;
    border: 0;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #c76b7a;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .75;
  }
div.title
{
    height: 3em;
    font-size: 25px;
    font-weight: 700;
    margin-top: 60px;

}
div.title2
{
    height: 2em;
    font-size: 20px;
}
div.text{
    background-color: lightgray;
    padding: 30px;
    height: 1000px;
}
/*nav-list*/

  #nav-list {
    margin-top: 10px;
    background-color: rgb(255, 217, 0);
    font-weight: 600;
    
}
  #nav-list a {
    color: #951C49;
    text-align: center;
    border: 1px solid black;

  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  